.logo{
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'calibri'; /*georgia, times, serif;*/
    line-height: 1.6em;
    font-size: 1.2rem;
}

/* Navbar center image attributes */
#menu #logoBar #logo{
    border: solid 0.7em rgb(0, 0, 0);
    border-radius: 10em;
    margin: 0;
}

/* Navbar attributes */
#menu #logoBar {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    /* overflow: auto; */
    vertical-align: top;
    

}

/* Navbar unordered list attributes */
#menu #logoBar ul{
    background-color: rgb(0, 0, 0);
    list-style:none;
    display: block;
    margin: 0em;
    padding: 0em;
    height: 4em;
    
}

/* Navbar image element list attributes*/
#menu #logoBar #logo-li{
    display: inline;
    justify-content: center;
    vertical-align: middle;
    padding: 0em;
}

/* Navbar image element list anchors attributes */
#menu #logoBar #logo-li a{
    text-decoration: none;
    padding=0;
    margin=0;
}


#menu #logoBar #logo-li img{
    display: inline-block;
    width: 5em;
    margin: 0em;
}

#menu #logoBar .item{
    display: inline;
    justify-content: center;
    vertical-align: middle;
    padding: 0em;

}


#menu #logoBar .item a{
    background-color: rgb(0, 0, 0);
    color: dodgerblue;
    padding: 0.5em 0.8em;
    font-family: 'verdana';
    font-size: 1em;
    text-decoration: none;
    margin: 0em;
    font-weight: bold;
    
}

#img-anchor{
    padding: 0em;
    margin: 0em;
}

#menu #logoBar .item ul{
    display: none;
    position: absolute; 
    background-color: #000000;
}

#menu #logoBar .item .dropdown{
    vertical-align: top;
    display: flex;
    flex-flow: column;
    
}

#menu #logoBar .item .drop{
    display:block
}

#menu #logoBar #logo-li a:hover img{
    border: solid 0.7em white;
}
#menu #logoBar .item a:hover{
    color: white;

}

#menu #logoBar .item:hover ul{
    display: block;

}





.container {
    width: 50%;
 
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;
}


/* .main{
    padding-top: 10rem;
    background-color: dodgerblue;

} */

.footer {
    padding: 4rem 0;
    text-align: center;
}

.main{
    width = 100%;
}


.contenedor-columnas {
    width: 100% ;
    margin: auto;
    margin-bottom: 50px;
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.columna1 {
    width: 20%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
.columna1 img{
    width: 100%;
}

.columna2 {
    width: 55%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
    
.columna3 {
    width: 20%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
.columna3 img{
    width: 100%;
}