*{
    margin:0px;
    padding: 0px;
    font-family: 'calibri'; /*georgia, times, serif;*/
    line-height: 1.6em;
    font-size: 1.2rem;
}

#logo{
    width: 7%;
    margin: 0.5em;

}
#logoBar {
    background-color: rgb(218,218,0);

}

.logo{
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#menu ul{
    background-color: rgb(218,218,0);
    list-style:none;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu #item{
    float:left;

}

#menu #item a{
    background-color: rgb(218,218,0);
    color: black;
    padding: 12px 22px;
    display: block;
    font-family: 'calibri';
    font-size: 1em;
    text-decoration: none;
  
    
}

#menu #desple{
    display: none;
    position: absolute;
}

#menu #item a:hover{
    background-color: rgb(204, 207, 12);
    
}
#menu #item:hover #desple{
    display:block;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;
}

.header {
    background: url('Banner 2.png');
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

}

.header a{
    color:white;
    text-decoration: none;

}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* .main{
    padding-top: 10rem;
    background-color: dodgerblue;

} */

.footer {
    padding: 4rem 0;
    text-align: center;
}

.main{
    width = 100%
}


.contenedor-columnas {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.columna1 {
    width: 20%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
.columna1 img{
    width: 100%;
}

.columna2 {
    width: 55%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
    
.columna3 {
    width: 20%;
    float: left;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 10px;
    background-color: dodgerblue;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;
}
.columna3 img{
    width: 100%;
}