*{
    margin:0px;
    padding: 0px;
    font-family: georgia, times, serif;
    line-height: 1.6em;
    font-size: 1.2rem;
}



#menu ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

#menu #item{
    float:left;

}

#menu #item a{
    background-color: yellow;
    color: black;
    padding: 12px 22px;
    display: block;
    font-family: 'calibri';
    font-size: 22px;
    text-decoration: none;
}

#menu #desple{
    display: none;
    position: absolute;
}

#menu #item a:hover{
    background-color: rgb(0, 255, 170);
    
}
#menu #item:hover #desple{
    display:block;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;
}

.header {
    background: #333;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

}

.header a{
    color:white;
    text-decoration: none;

}
.logo-nav-container{
    display_ flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main{
    padding-top: 10rem;
}
.footer {
    padding: 4rem 0;
    text-align: center;
}