* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body {
   
    /*background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: #142850;  /*COLOR DE FONDO PAGINA WEB*/

}
/* padding modifica los margenes internos de lo escrito en el cuadro*/
.form-register {
    width: 400px;
    background-color: #27496d; /*COLOR CUADRO CONTACTANOS*/
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;

}
.form-register h4 {
    font-size: 22px;
}

.form-register p{
    font-size: 0.8em;
}

.form-register #error{
    color: red;
    font-weight: bold;
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .button {
    width: 100%;
    background: #00909e; /*COLOR FONDO DE BOTONES*/
    border: none;
    padding: 12px;
    border-radius: 4px;
    color: black; /*COLOR LETRAS DE ENVIAR*/
    margin: 16px 0;
    font-size: 20px;
}
.form-register .button:hover {
    background-color: rgb(0, 255, 170)
}

input#file-input{
    display:none;
}

input#file-input + label{
    width: 100%;
    background: #00909e;  /*COLOR FONDO BOTON ADJUNTAR*/
    border: none;
    padding: 12px;
    border-radius: 4px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    text-align: center;
}
input#file-input + label:hover{
    background-color: rgb(0, 255, 170)
}

#vinculo1 {
    font-size: 18px;
}

#descripcioncargado {
    font-size: 18px;
}
#file-name{
    font-size: 18px;
}
